
<div class="container">
  <header class="collaborators-header">
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Type to search...">
      <mat-icon matSuffix>search</mat-icon>
      <mat-hint>Type the user name</mat-hint>
    </mat-form-field>

    <a
      [routerLink]="[registerRoute]"
      mat-raised-button
      color="primary">
      Criar
    </a>
  </header>

  <table matSort (matSortChange)="sortCollaborators($event)">
    <tr>
      <th mat-sort-header="name">Nome</th>
      <th mat-sort-header="job_title">Cargo</th>
      <th mat-sort-header="admission_date">Data de admissão</th>
      <th mat-sort-header="email">E-mail</th>
    </tr>

    <tr *ngFor="let collaborator of sortedCollaborators" (click)="navigateToDetails(collaborator.id)">
      <td>{{ collaborator.name }}</td>
      <td>{{ collaborator.job_title }}</td>
      <td>{{ collaborator.admission_date }}</td>
      <td>{{ collaborator.email }}</td>
    </tr>
  </table>
</div>
